<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>CHỢ TRỜI | Webiste Chuyên Mua Bán, Trao Đổi Đồ Cũ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/libs/@fortawesome/fontawesome-free/css/all.min.css">
</head>
<body>

	<header class="thisHeader">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" th:href="@{/}">
          <img src="/images/choTroi2.png" width="85" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="thisSearch">
          <form class="form-inline my-2 my-lg-0" th:action="@{/shops/find}">
            <input class="form-control" type="search" placeholder="Laptop Dell cũ" name="name" aria-label="Search">
            <button class="btn btn-outline-warning my-2 my-sm-0 mr-sm-2" type="submit" id="buttonSearch">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button class="btn my-2 my-sm-0" type="submit" id="buttonDangTin" th:if="${user} != null">Đăng tin</i></button>
          </form>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" th:if="${user} != null">
              <a class="nav-link" href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Tôi Bán</a>
            </li>
            <li class="nav-item" th:if="${user} != null">
              <a class="nav-link" href="#"><i class="fa fa-comment" aria-hidden="true"></i> Tin Nhắn</a>
            </li>
            <li class="nav-item" th:if="${user} != null">
              <a class="nav-link" href="#"><i class="fa fa-bell" aria-hidden="true"></i> Thông báo</a>
            </li>
            <li class="nav-item" th:if="${user} == null">
              <a class="nav-link" th:href="@{/users/login}"><i class="fas fa-sign-in-alt"></i> Đăng nhập</a>
            </li>
            <li class="nav-item" th:if="${user} == null">
              <a class="nav-link" th:href="@{/users/register}"><i class="fa fa-user"></i> Đăng ký</a>
            </li>
            <li class="nav-item dropdown" th:each="item : ${user}">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user" aria-hidden="true"></i> <span th:text="${item.nameShop} ?: 'Tài khoản'"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" th:href="@{/shops/detailshop}">Xem Tài Khoản</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/logout}">Đăng Xuất</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-question-circle" aria-hidden="true"></i> Trợ Giúp</a>
            </li>
          </ul>

        </div>
      </nav>
    </header>
    <section class="col">
      	<div layout:fragment="content" id="content"></div>
    </section>
    <footer>
      <div class="col">
      <div class="row ml-5 mr-5">
        <div class="col mr-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Chợ Trời - mua bán đồ cũ</h6>
          <p>Web thương mại điện tử để người mua người bán có thể mua hoặc bán đồ cũ một cách dễ dàng.
            Kết nối người mua và người bán cả nước.</p>
        </div>
        <div class="col">
          <h6 class="text-uppercase mb-4 font-weight-bold">Về Chợ Trời</h6>
          <p>
            <a href="#!">Giới thiệu</a>
          </p>
          <p>
            <a href="#!">Điều khoản</a>
          </p>
          <p>
            <a href="#!">Chính sách bảo mật</a>
          </p>
          <p>
            <a href="#!">Tin mới nhất</a>
          </p>
        </div>
        <div class="col">
          <h6 class="text-uppercase mb-4 font-weight-bold">Chăm sóc khách hàng</h6>
          <p>
            <a href="#!">Hướng Dẫn Mua Hàng</a>
          </p>
          <p>
            <a href="#!">Hướng Dẫn Bán Hàng</a>
          </p>
          <p>
            <a href="#!">Chăm sóc khách hàng</a>
          </p>
        </div>
        <div class="col">
          <h6 class="text-uppercase mb-4 font-weight-bold">Liên Hệ</h6>
          <p>
            <i class="fas fa-home mr-3"></i> 12 Lê Duẩn, Hải Châu, TP. ĐN</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> chotroi@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> 1900 0991 - 0399399393</p>
          <p>
            <a href="#" class="ml-5">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="ml-4">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="ml-4">
              <i class="fab fa-youtube"></i>
            </a>
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <span class="banQuyen">© 2020 - Bản quyền thuộc về Công ty Cổ Phần BASIC</span>
      </div>
    </div>
    </footer>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>
</html>