<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin.html}">

<head>
    <title>CHỢ TRỜI | Webiste Chuyên Mua Bán, Rao Vặt, Trao Đổi Đồ Cũ
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/shop.css">
</head>

<body>
	<div layout:fragment="content">
		<div class="col-9 m-auto">
            <h5>Đổi mật khẩu</h5>
            <h6>Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác</h6>
        </div>
        <div class="col-10 m-auto">
            <hr>
        </div>
        <div class="row">
            <div class="col-4" id="left">
                <div class="form-group" id="leftText">
                    <h6>
                        <i class="fa fa-user-circle" aria-hidden="true"></i> Tài khoản của tôi
                    </h6>
                    <li><a th:href="@{/shops/detailshop}">Hồ sơ</a></li>
                    <li><a th:href="@{/shops/changepassword}" class="text-danger">Đổi
							mật khẩu</a></li>
                    <li>
                        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
							Quên mật khẩu
						</a>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <span>Tài khoản của bạn sẽ bị đăng xuất, nếu muốn tiếp tục <a th:href="@{/users/forgotpassword}" class="text-primary">nhấn vào đây</a>.</span>
                            </div>
                        </div>
                    </li>
                </div>
                <div id="leftImg">
                    <img src="/images/choTroi.png" alt="" class="avatar">
                    <div class="form-group">
                        <button>Chọn ảnh</button>
                    </div>
                </div>
            </div>
            <div class="col-6" id="right">
                <div th:if="${checkValid != null}">
                    <h5 th:text="${checkValid}" class="alert alert-danger text-center"></h5>
                </div>
                <div th:if="${message != null}">
                    <h5 th:text="${message}" class="alert alert-success text-center"></h5>
                </div>
                <form th:action="@{/shops/changepassword}" method="post" th:object=${shopDto}>
                    <div class="form-group">
                        <label for="username">Tên đăng nhập:</label> <input type="text" class="form-control" th:field="*{username}" name="username" id="username" aria-describedby="helpId" placeholder="Tên đăng nhập" readonly>
                    </div>
                    <div class="form-group">
                        <label for="oldPassword">Mật khẩu cũ:</label> <input type="password" class="form-control" th:field="*{oldPassword}" name="oldPassword" id="oldPassword" aria-describedby="helpId" placeholder="Mật khẩu cũ" required>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">Mật khẩu mới:</label> <input type="password" class="form-control" th:field="*{newPassword}" name="newPassword" id="newPassword" aria-describedby="helpId" placeholder="Mật khẩu mới" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Xác nhận mật khẩu:</label> <input type="password" class="form-control" th:field="*{password}" name="password" id="password" aria-describedby="helpId" placeholder="Xác nhận mật khẩu" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-danger" id="buttonChangePass">Thay
							đổi mật khẩu</button>
                    </div>
                </form>
            </div>
        </div>
	</div>
  
</body>

</html>